.col-md-4:nth-child(2),
.col-md-4:last-child {
  background-color: #f5fbff !important;
}

.card-body {
  background-color: #f5fbff !important;
}

.card {
  border: none;
}

.border-top {
    margin-bottom: 10% !important;
}