@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* SYSTEMATIC */

.systematic {
  display: flex;
  justify-content: center;
}

section .text_degrade {
  background: rgb(115, 0, 255);
  background: linear-gradient(180deg, rgba(115, 0, 255, 1) 0%, rgba(169, 0, 202, 1) 73%, rgba(203, 0, 168, 1) 100%);
  color: white;
  width: 50%;
  padding: 8%;
}

section .text_degrade h2,
.recent_posts h2,
.contact h2 {
  font-size: 2.5rem;
}

section .text_degrade p {
  color: #bbbbbb;
  font-size: 1rem;
}

.systematic > img {
  width: 50%;
}

.text_degrade img {
  width: 60%;
}

/* RECENT POSTS */

.container {
  width: 70%;
  margin: 0 auto;
}

.recent_posts {
  display: flex;
  justify-content: space-between;
}

.recent_posts .posts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.recent_posts .title {
  width: 70%;
  text-align: center;
  padding: 10% 15%;
}

.recent_posts .post {
  width: 31%;
}

.recent_posts .post img {
  width: 100%;
}

.recent_posts a {
  text-decoration: none;
  color: #7300ff;
}

.recent_posts .post h3 {
  font-size: 1.3rem;
}

.recent_posts .post p {
  color: #444444;
}

/* CONTACT */

.contact {
  background-color: #7300ff;
  color: white;
}

.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .container div {
  width: 65%;
  margin: 9% 0 4% 0;
}

.contact a {
  width: 20%;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 2% 1%;
  text-align: center;
}
